* {
  margin: 0;
  padding: 0;
}

:root {
  --red: rgb(219, 109, 109);
}

#team-lead {
  display: flex;
  justify-content: left;
  margin-bottom: 0.5rem;
}

#team-members {
  display: flex;
}

body h1 {
  background-color: var(--red);
  color: whitesmoke;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.card {
  border: 2px solid grey;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  border-radius: 4px;
}

.card h3 {
  background-color: var(--red);
  color: whitesmoke;
  padding: 1rem;
}

.card p {
  padding: 1rem;
}
